.btn-app {
  background-color: var(--purple);
  color: var(--white);
  border: 0;
}

.btn-app:hover,
.btn-app:focus {
  background-color: var(--pink);
}

.btn-app:disabled {
  background-color: var(--pink);
  opacity: 0.5;
}
