.btn-login {
  background-color: transparent;
  color: var(--pink);
  border: none;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.btn-login:hover,
.btn-login:focus {
  background-color: var(--pink);
  color: white;
}

.container-new-account {
  color: var(--gray);
  padding-inline: 0.5rem;
  font-size: 0.85rem;
}
