.link-new-account {
  text-decoration: none;
  color: var(--purple);
}

.link-new-account:hover {
  text-decoration: underline;
}

.link-dropdown,
.link-account {
  height: 3rem;
  display: flex;
  align-items: center;
  color: var(--pink);
  padding-inline: 0.5rem;
  text-decoration: none;
  font-size: 1.15rem;
}

.container-dropdown-links > span:first-child .link-dropdown {
  border-top-right-radius: 0.375rem;
  border-top-left-radius: 0.375rem;
}

.container-dropdown-account > span:nth-child(2) .btn-logged-in {
  border-top-right-radius: 0.375rem;
  border-top-left-radius: 0.375rem;
}

.container-dropdown-links > span:last-child .link-dropdown,
.container-dropdown-account > span:last-child .link-account {
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.container-dropdown-account > span:last-child .btn-logged-in {
  border-radius: 0;
}

.link-dropdown:hover,
.link-account:hover {
  background-color: var(--purple);
  color: var(--white);
}
