.container-card {
  width: 15rem;
}

.container-card img {
  width: 13rem;
  height: 13rem;
  object-fit: contain;
}

.btn-buy {
  background-color: var(--pink);
}

.btn-buy:hover,
.btn-buy:focus {
  background-color: var(--purple);
}

.card-title,
.card-text {
  color: var(--dark);
}

.card-subtitle {
  color: var(--dark-purple);
}
