.container-header {
  background-color: var(--offwhite);
  width: 100%;
  min-height: 7rem;
}

.header {
  max-width: 1500px;
}

/* Bootstrap Classes Overwritten */

.btn-primary {
  --bs-btn-active-bg: var(--pink);
}

.dropdown-menu {
  padding: 0;
  border: none;
}

.nav-link {
  color: var(--gray);
  text-decoration: none;
  padding: 8px;
}

.nav-link:hover {
  color: var(--pink);
}

.navbar-nav .nav-link.show {
  color: var(--pink);
}

.navbar-toggler {
  border-color: var(--pink);
}

.navbar-toggler-icon {
  background-image: url(/assets/icon-bars.png);
}
