.header {
  background-color: var(--offwhite);
}

.btn-search {
  background-color: var(--pink);
  border: 0;
}

.btn-search:hover {
  background-color: var(--pink);
  opacity: 0.8;
}

.btn-login {
  background-color: transparent;
  color: var(--pink);
  border: none;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.btn-login:hover,
.btn-account:hover {
  background-color: var(--pink);
  color: white;
}

.btn-primary {
  --bs-btn-active-bg: var(--pink);
}

.btn-account {
  background-color: var(--purple);
  color: var(--white);
  border: 0;
  width: 90%;
}

.link,
.nav-link {
  color: var(--gray);
  text-decoration: none;
  padding: 8px;
}

.link:hover,
.nav-link:hover {
  color: var(--pink);
}

.link-dropdown,
.link-account {
  height: 3rem;
  display: flex;
  align-items: center;
  color: var(--pink);
  padding-inline: 0.5rem;
  text-decoration: none;
  font-size: 18px;
}

.link-dropdown:first-child {
  border-top-right-radius: 0.375rem;
  border-top-left-radius: 0.375rem;
}

.link-dropdown:last-child,
.link-account:last-child {
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.link-dropdown:hover,
.link-account:hover {
  background-color: var(--purple);
  color: var(--white);
}

.dropdown-menu {
  padding: 0;
  border: none;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.navbar-toggler {
  border-color: var(--pink);
}

.navbar-nav .nav-link.show {
  color: var(--pink);
}

.navbar-toggler-icon {
  background-image: url(./icon-bars.png);
}

.img-container {
  width: 50%;
  max-width: 300px;
}

.text-nav {
  font-size: 18px;
  @media (min-width: 1200px) {
    font-size: 20px;
  }
}
