.container-banner-01 {
  background: url(/assets/banner-1.jpg);
  background-size: cover;
  background-position: center;
}

.container-banner-02 {
  background: url(/assets/banner-2.jpg);
  background-size: cover;
  background-position: center;
}

.container-banner-03 {
  background: url(/assets/banner-3.jpg);
  background-size: cover;
  background-position: center;
}

.container-banner-01,
.container-banner-02,
.container-banner-03 {
  height: 30rem;
}

.title {
  color: var(--pink);
  font-size: 1.25rem;
}

.subtitle {
  color: var(--dark-purple);
  font-size: 1.5rem;
}

.text {
  color: var(--dark);
  font-size: 1rem;
}

@media (min-width: 576px) {
  .title {
    font-size: 1.5rem;
  }
  .subtitle {
    font-size: 2rem;
  }
  .text {
    font-size: 1.25rem;
  }
}

@media (min-width: 992px) {
  .title {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 2.5rem;
  }
  .text {
    font-size: 1.5rem;
  }
}

/* Bootstrap Classes Overwritten */

.carousel-caption {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  margin-inline: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-around;
  height: max-content;
}

.carousel-indicators [data-bs-target] {
  background-color: var(--pink);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
