.footer {
  background-color: var(--dark);
  min-height: 30rem;
  margin-top: 7rem;
  color: var(--white);
}

.footer-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.footer-list-products {
  padding-inline-start: 1.25rem;
}

.footer-list-products li {
  position: relative;
  display: flex;
  align-items: center;
}

.footer-list-products li::before {
  content: "";
  position: absolute;
  width: 0.85rem;
  height: 0.85rem;
  left: -20px;
  background-image: url("/arrow-right.png");
  background-size: 8px;
  background-repeat: no-repeat;
}
