:root {
  --font: "Questrial", sans-serif;
  --pink: #ff4f9d;
  --purple: #884cd2;
  --dark-purple: #3d005c;
  --offwhite: #f9f8f6;
  --dark: #1c1a1d;
  --white: #fff;
  --gray: #70706f;
}

body {
  font-family: var(--font);
}
